body {
  text-align: center;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  color: white;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 26px;
  font-weight: normal;
  line-height: 1.5;
}
.first {
  background-color: #00c4cc;
  padding: 60px 90px;
}
.second {
  background-color: white;
}
.second h2 {
  color: #00c4cc;
  font-size: 30px;
}
.third {
  background-color: #00c4cc;
  color: white;
  padding: 10px 50px 90px;
}

.third h2 {
  font-size: 30px;
}

.fourth {
  padding: 10px 90px;
}

.first-button {
  font-size: 30px;
  background-color: white;
  padding: 30px 60px;
  border: white;
  font-weight: bold;
}
.roles {
  font-size: 20px;
  position: relative;
  bottom: 35px;
}
.first-button-second {
  font-size: 30px;
  background-color: #00c4cc;
  padding: 30px 60px;
  font-weight: bold;
}
.form {
  border-radius: 10px 10px;
  background-color: white;
  padding: 50px;
  font-size: 20px;
}

#submit {
  font-size: 30px;
  background-color: #00c4cc;
  padding: 10px 30px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
Footer .email-link:hover {
  color: #00c4cc;
}

.fa-brands {
  max-width: 100px;
  width: 100;
  line-height: 1.5;
  color: black;
}
.form-input {
  padding: 5px;
  font-weight: bold;
}
input [type="text"] {
  padding: 25px;
  border: 2px solid #ccc;
  border-radius: 5px;
  border: 0 none;
  margin: 0;
}
nav {
  padding-right: 100px;
  /* padding-left: 10px;
  background: white;*/
}
nav li {
  display: inline;
  text-decoration: none;
  line-height: 42px;
  padding-left: 50px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
nav a:hover,
nav li.active a {
  color: #00c4cc;
}
.img-webpic {
  display: inline;
  margin: 0px;
  padding: 0px;
}
